CodingHW-1/venv/*
CodingHW-1/.idea/*
/CodingHW_1/nbproject/private/
/CodingHW_1/dist/
/CodingHW_1/build/
/CodingHW-2/nbproject/private/
/CodingHW-2/dist/
/CodingHW-2/build/
/CodingHW-3/nbproject/private/
/CodingHW-3/dist/
/CodingHW-3/build/
CodingHW-2/build.xml
CodingHW-2/manifest.mf
CodingHW-2/nbproject/build-impl.xml
CodingHW-2/nbproject/genfiles.properties
CodingHW-2/nbproject/project.properties
CodingHW-2/nbproject/project.xml
CodingHW-3/build.xml
CodingHW-3/manifest.mf
CodingHW-3/nbproject/build-impl.xml
CodingHW-3/nbproject/genfiles.properties
CodingHW-3/nbproject/project.properties
CodingHW-3/nbproject/project.xml
/Exam3/nbproject/private/
/Exam3/build/
/Exam3/dist/